body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.title-font {
  font-family: 'Acme', sans-serif;
  font-size: 25px;
}

.tabs {
  position: relative;
  clear: both;
  margin: 25px 0;
  min-height: 1000px;
}

.tab {
  float: left;
}

.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
  border-radius: 15px 15px 0px 0px;
}

.tab [type=radio] {
  display: none;
}

.tab-content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
}

[type=radio]:checked~label {
  background: white;
  border-bottom: 1px solid white;
}

[type=radio]:checked~label~.tab-content {
  z-index: 1;
}

#full {
  margin: 20px;
}
