body {
    margin: 0;
}

p {
    margin: 0;
}

/* bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFAC30;

    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
}

li {
    float: left;
    margin: 0;
    height: 60px;
}

#logo {
    display: inline-block;
    margin: 0;
    height: 60px;
}

li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

/* mouse over */
li a:hover{
    background-color: grey;
}

/* selected link */
li a:active{
    color: white;
    text-decoration: underline;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;
}

ul:after {
    margin: 0;
}


/* main part */
.main{
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    width: 100%;
}


#home {
    margin: 0;
    width: 100%;
    height: 900px;
    background-image: url("Photos/background.jpg");
    background-color: #c2e6fc;
    background-repeat: no-repeat;
    background-size: cover;
}