body {
    margin: 0;
}

p {
    margin: 0;
}

/* bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFAC30;
    overflow: hidden;

    position: sticky;
    position: -webkit-sticky;

    top: 0;
    width: 100%;
    height: 75px;

    z-index: 1;

}

li {
    float: left;
    margin: 0;
    height: 75px;
}

.logo {
    display: inline-block;
    margin: 3px;
    height: 75px;
}

li a {
    display: inline-block;
    color: white;
    padding: 25px 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    height: 75px;
}

/* mouse over */
li a:hover{
    background-color: grey;
}

/* selected link */
li a:active{
    color: white;
    text-decoration: underline;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}


/* main part */
.main{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 100%;
    color: black;
}


/* welcome */
.homeStyle {
    margin: 0;
    width: 100%;
    height: 900px;
    background-image: url("https://i.imgur.com/lD8ldNW.jpg");
    background-color: #c2e6fc;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    color: white;
    text-align: center;
    padding: 150px 0 0;
}

/* button */
.btn {
    border: 2px solid transparent;
    background-color: #FFAC30;
    color: white;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;

    position: absolute;
    left: 45%;
    top: 500px;
}

.btn:hover {
    background: #ff9800;
    color: white;
}


/* features & about */
.featuresStyle, .aboutStyle {
    padding: 10px;
    background: #c2e6fc;
    border-top: 2px solid black;
}

.featuresStyle, .aboutStyle {
    padding: 10px;
    background: #c2e6fc;
    border-top: 2px solid black;
}

footer{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
}