@import url("https://fonts.googleapis.com/css?family=Acme|Montserrat");

body {
  background-image: url("https://i.imgur.com/lD8ldNW.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px !important;
  color: #4098ce;
  line-height: 1.6;
  cursor:default;
}

.title-font {
  font-family: 'Acme', sans-serif;
}

h1 {
  font-size: 32px;
}

.tab-label {
  font-size: 22px;
}

.tabs {
  position: relative;
  clear: both;
  margin: 25px 0;
  min-height: 1000px;
  height: auto;
}

.tab {
  float: left;
}

[type=radio] {
  display: none;
}

[type=radio]:checked~label {
  font-weight: 900;
  min-height: 20px;
}

[type=radio]:checked~label~.tab-content {
  z-index: 1;
  text-decoration: none;
}

[type=radio]:hover~label {
  font-weight:bold;
  cursor:pointer;
}

input[type=submit] {
  border-radius: 5px;
  background-color: #d3eeff;
  border: 2px outset #d3eeff;
  font-family: inherit;
}

input[type=submit]:hover {
  background-color: #c2e6fc;
  cursor:pointer;
}

button {
  border-radius: 5px;
  background-color: #d3eeff;
  color: inherit;
  border: 2px outset #d3eeff;
  font-family: inherit;
}

button:hover {
  cursor:pointer;
  background-color: #c2e6fc;
}

textarea {
  font-family: inherit;
  width: 500px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 172, 48), rgba(0, 0, 0, 0));
  padding: 1px;
}

.welcome_header {
  padding: 20px;
  min-height: 100px;
  background-color: white;
}

.header {
  height: 30px;
  z-index: -1;
  position: relative;
  background-color: #ffac30;
  border-radius: 15px 15px 0px 0px;
}

.footer {
  height: 40px;
  background-color: #ffac30;
  border-radius: 0px 0px 15px 15px;
  text-align: center;
  line-height: 40px;
}

.input-info {
  background-color: #d3eeff;
  position: relative;
  padding: 20px;
  min-height: 100px;
}


.full {
  margin: 20px;
  border: 2px solid white;
  border-radius: 20px;
  /* z-index: 1; */
  box-shadow: 2px 2px 2px 2px grey;
}

form {
  vertical-align: middle;
}

.logout {
  text-decoration: none;
  color: black;
}

.logout:hover {
  font-weight: bold;
  cursor:pointer;
}

.message {
  float: right;
  display: inline-block;
  padding-right: 550px;
}

.btn1 {
  border: 1px solid black;
  margin-left: 5px;
  padding: 3px;
  display: inline;
  border-radius: 5px;
  background-color:#fcaeae;
  color:red;
}

.btn2 {
  border: 1px solid black;
  margin-left: 5px;
  padding: 3px;
  display: inline;
  border-radius: 5px;
  background-color: #fccbb8;
  color:orange;
}

.btn3 {
  border: 1px solid black;
  margin-left: 5px;
  padding: 3px;
  display: inline;
  border-radius: 5px;
  background-color: #fcfcb8;
  color:#cece94;
}

.btn4 {
  border: 1px solid black;
  margin-left: 5px;
  padding: 3px;
  display: inline;
  border-radius: 5px;
  background-color:#82f2ad;
  color: #4faf74;
}

.btn5 {
  border: 1px solid black;
  margin-left: 5px;
  padding: 3px;
  display: inline;
  border-radius: 5px;
  background-color:#4df28c;
  color:#2cb761;
}

.postDate {
  margin-left: 20px;
}

.life {
  padding: 20px;
  min-height: 100px;
  background-color: white;
  overflow: hidden;
}

.messages {
  background-color:white;
  float:left;
  display:block;
  word-wrap:break-word;
  margin:0px 20px;
  max-width: 500px;
}

.deleteCol {
  /* width: 60px; */
}

.postMessageCol {
  word-wrap: break-word;
  width: 350px;
}

.deleteBtn {
  margin-right: auto;
  cursor: pointer;
  color: red;
}